[Unit]
Description=my dial ppp script
After=network.target

[Service]
ExecStart=/usr/local/bin/mydial.sh
Type=forking
TimeoutSec=infinity


[Install]
WantedBy=multi-user.target

